{% extends "main/header2.html" %}

{% block content %}

				
				{% if perms.main.test_GProc or  perms.main.test_Analist %}
				{% include "main/includes/sidenav_gpanalist.html" %}
				{% elif perms.main.test_Admin %}
				{% include "main/includes/sidenav_admin.html" %}
				{% endif %}
				
				
		
				{% if perms.main.test_GProc or  perms.main.test_Analist %}
				{% include "main/includes/gp_main_area.html" %}
				{% elif perms.main.test_Admin %}
				{% include "main/includes/admin_main_area.html" %}
				{% endif %}
			
	
{% endblock %}