{% extends "main/header3.html" %}

{% block content %}
	<body class="text-center"><br>
		<form class="form-signin" method="POST" action="{% url 'main:login2' %}">
			{% csrf_token %}

			<h2>LOGIN</h2><br>
				<!---<div class="text-center" >Utilizador:&nbsp; {{ form.username }}</span></div>-->
			<input type="text" name="username" autofocus="" required="" id="id_username">
			<p class="nameErr text-danger text-left"></p>
			<!---	<br><div class="text-center" >Senha:&nbsp;  {{ form.password}}</div>-->
		<input type="password" name="password" required="" id="id_password">
			<br><div class="fluid-container">
				<div class="row">
					<div class="col-md-6">
						<div class="checkbox text-left">
							<input type="checkbox" value="remember-me" class=""> Remember me<br>
							<a href="#">Recuperar senha</a>
						</div>
					</div>
					<div class="col-md-6">
						<div class="right">
							<button class="btn btn-lg btn-block text-white" style="max-width:15vh;float:right;" type="submit">Login</button><!--bg-info-->
						</div>
					</div>
				</div>
			</div>
		</form>
		
	</body>
</html>
{% endblock %}