
				<div class="container">
					<table class="table table-hover header-fixed">
						<thead>
							<tr class="d-flex">
								<th class="col-9">Empresas</th>
								<th class="col-3 text-right">
									<a class="dropdown-toggle" id="sidebarCollapse" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><span>Mais recente</span><i class="material-icons">arrow_drop_down</i></a>
									<div class="dropdown-menu">
										<a class="dropdown-item" href="#">Mais antigo</a>
										<a class="dropdown-item" href="#">Nome <i class="material-icons">arrow_downward</i></a>
										<a class="dropdown-item" href="#">Nome <i class="material-icons">arrow_upward</i></a>
									</div>
								</th>
							</tr>
						</thead>
						<tbody>
								{% for org in orgs %}
								<tr class="d-flex">
										<td class="col-3"><span><b>Nome: </b><a href="#">{{org.name}} </a></span></td>
										<td class="col-3"><span><b>Localização: </b><a href="#">{{org.location}} </a></span></td>	
										<td class="col-1"><b><a href="empresas/OrganizationUpdate/{{org.id}} ">Editar</a></span></td>
										<td class="col-1"><b><a href="empresas/OrganizationDelete/{{org.id}} ">Eliminar</a></span></td>
									
									</tr>
									{% endfor %}
							
							</tr>

						</tbody>
						<tfoot>
							<tr class="d-flex">
								<td class="col-9"><b><a href="/empresas/OrganizationCreate" class="novo"><i class="material-icons">add</i>Registar Empresa</a></b></td>
								<td class="col-3 text-right"></td>
						</tfoot>
					</table>
					<div class="brk">
					</div>
					
				</div>
            </div>
		</div>
		