{% load auth_extras %}
   <nav>
    <div class="nav-wrapper teal">
      <a href="/" class="brand-logo">Gestão de Práticas</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        
       
        {% if user.is_authenticated %}
        {% if perms.main.test_Analist %}
        <li><a href="/alparea">Área Analista</a></li>
        {% endif %}
      {% if user|has_group:"Gestor de Processos" %}
      <li><a href="/gparea">Area Gestor</a></li>
      {% endif %}
      {% if  perms.main.test_Func %}
      <li><a href="">Registo de Praticas</a></li>
      {% endif %}
          <li><a href="/account/?{{user.id}}">{{user.username}}</a></li>
          <li><a href="/post">Post</a></li>
          <li><a href="/logout">Logout</a></li>
    
        {% else %}
          <li><a href="/register">Register</a></li>
          <li><a href="/login">Login</a></li>
        {% endif %}
      </ul>
    </div>
  </nav>