	<body>
		<div class="wrapper">
			<nav id="sidebar" class="navbar-info" style="background:#058096;"><!--bg-info-->
				<div class="sidebar-header" style="background:#058096;"><!--bg-info-->
					<h4>REGISTO DIÁRIO </h4>
				</div>
				<ul class="list-unstyled components">
					<li class="active">
						<a href=""><i class="material-icons">home</i> PÁGINA INICIAL</a>
					</li>
				</ul>
<li>
    <a href="/utilizadores"><i class="material-icons">keyboard_arrow_right</i>Utilizadores</a>
</li>
<ul class="list-unstyled components">
    <li>
        <a href="/empresas"><i class="material-icons">keyboard_arrow_right</i>Empresas</a>
    </li>
    <li>
        <a href="#"><i class="material-icons">keyboard_arrow_right</i>Perfis?</a>
    </li>
</ul>
</ul>

<div class="CTAs">
                    <a href="#"><i class="material-icons">help_outline</i></a>
				</div>
			</nav>
			<div id="content">
				<nav class="navbar navbar-expand-lg navbar-light">
					<button type="button" id="sidebarCollapse" class="btn text-white" style="background:#058096;"><!--btm-info-->
                        <i class="fas fa-align-left"></i>
					</button>
					<div class="navegation">
						<h3 style="margin-top:10px;">Pagina Inicial</h3>
					</div>
					<button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="navbarTogglerDemo03">
						<ul class="navbar-nav ml-auto mt-2 mt-lg-0">
							<li class="sidebar-search nav-item active">
								<form class="form-inline input-group  custom-search-form">
									<input type="text"  class="form-control" placeholder="Procurar...">
									<button class="btn btn-default text-white" type="button"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										<i class="fa fa-caret-down"></i>
									</button>
									<div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
										<a class="dropdown-item" href="/utilizadores">Utilizadores</a>
										<a class="dropdown-item" href="#">Empresas</a>
									</div>
									<span class="input-group-btn">
										<button class="btn btn-default text-white">
											<i class="fa fa-search"></i>
										</button>
									</span>
								</form>
							</li>
							<li class="nav-item">
								<div class="btn-group">
									<button type="button" class="btn btn-warning dropdown-toggle text-left" style="width:100px;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">+ Novo </button>
									<div class="dropdown-menu">
										<a class="dropdown-item" href="criaratividade.html">Atividade</a>
										<a class="dropdown-item" href="#">Processo</a>
									</div>
								</div>
							</li>
							<li class="dropdown for-notification">
								<button class="btn btn-default dropdown-toggle notification" type="button" id="notification" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<i class="fa fa-bell"></i>
								</button>
								<div class="dropdown-menu dropdown-menu-right" aria-labelledby="notification">
									<b><p class="text-warning text-center"> Tens 1 Notificação</p></b>
								    <a class="dropdown-item media" href="#">
										<i class="fa fa-info"> </i>
										<p class="ml-2"> Novo padrão adicionado</p>
                                    </a>
								</div>
							</li>
							<li class="nav-item dropdown">
								<a class="nav-link text-left text-dark" style="font-size:1em;" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">{{user.username}}<i class="fa fa-caret-down"></i></a>
								<div class="dropdown-menu dropdown-menu-right">
									<a class="dropdown-item" href="#">Mensagens</a>
									<a class="dropdown-item" href="#">Contactos</a>
									<div class="dropdown-divider"></div>
									<a class="dropdown-item" href="#">Gerir conta</a>
									<a class="dropdown-item" href="#">Definições</a>
									<div class="dropdown-divider"></div>
									<a class="dropdown-item" href="/logout">Terminar sessão</a>
								</div>
							</li>
						</ul>
					</div>
				</nav>